googletrans==4.0.0-rc1
langdetect                
numpy                 
packaging                 
passlib                   
Pillow                    
protobuf                  
pyarrow                 
pycparser                
pydantic                
pydantic_core            
pydeck                
pydub                     
rpds-py                   
setuptools                
six                      
smmap                     
sniffio                  
sounddevice               
soundfile                 
soupsieve                
SpeechRecognition         
SQLAlchemy                
sqlmodel           
streamlit                 

